<h1 class="text-2xl">Inicia sesión para poder realizar compras ¡Y mucho más!</h1>
<fieldset class="fieldset">
    <label class="label">Email</label>
    <input type="email" class="input" placeholder="Email" />
    <label class="label">Password</label>
    <input type="password" class="input" placeholder="Password" />
    <div class="flex justify-between">
        <a class="link link-hover">¿Olvidaste tu contraseña?</a>
        <a class="link link-hover" routerLink="/auth/createAccount">¿Crear cuenta?</a>
    </div>
    <button class="btn btn-neutral mt-4">Login</button>
</fieldset>