<h2 class="text-2xl">Crear cuenta</h2>
<p>Completa todos los campos para continuar</p>

<user-form/>
<!-- <form>
    <fieldset class="fieldset">
        <legend class="fieldset-legend">Nombre de usuario</legend>
        <input type="text" class="input" placeholder="Escribe un nombre válido, de preferencia tu nombre completo.">
    </fieldset>
    <fieldset class="fieldset">
        <legend class="fieldset-legend">Email</legend>
        <input type="email" class="input" placeholder="Escribe un correo válido">
    </fieldset>
    <fieldset class="fieldset">
        <legend class="fieldset-legend">Contraseña</legend>
        <input type="password" class="input" placeholder="Contraseña para tu cuenta">
    </fieldset>
    <fieldset class="fieldset">
        <legend class="fieldset-legend">Repite tu contraseña</legend>
        <input type="password" class="input" placeholder="Confirma tu contraseña">
    </fieldset>
    <button class="btn btn-info mt-3">Crear cuenta</button>
</form> -->