@if (user() && sales()) {
<main class="grid bg-base-200 grid-cols-2 gap-x-5 mx-auto my-5 w-[90%] shadow-lg border border-primary p-3 rounded">
    <section>
        <h2 class="text-3xl">Perfil de usuario</h2>
        <user-form [user]="user()" />
    </section>

    <section>
        <h2 class="text-3xl text-center">Historial de compras</h2>

        <ul class="flex flex-col gap-3 overflow-y-auto max-h-[70vh] mt-3">
            @for (item of sales()?.data; track item.id) {
            <li class="bg-base-100 border border-base-300 rounded p-4 flex gap-x-3">
                <div class="grid gap-2 grid-cols-2">
                    @for (product of item.products.slice(0,2); track product.id) {
                    <img [src]="product.image_url" alt="" class="w-20 rounded-full">
                    } @empty {
                        <p class="col-span-2 text-center text-info flex items-center justify-center">Sin imágenes para mostrar</p>
                    }
                </div>
                <div>
                    <p><span class="font-bold">Ciudad:</span> {{item.city}}</p>
                    <p><span class="font-bold">Elementos en la venta:</span> {{item.products.length}}</p>
                    <p><span class="font-bold">Referencias:</span> {{item.references}}</p>
                    <p><span class="font-bold">Pago total previsto:</span> {{item.total_preview | currency}}</p>
                </div>
            </li>
            } @empty {
            <p class="text-error">No has realizado compras aún</p>
            }
            @if (sales()?.next_page_url) {
                <button class="btn btn-ghost btn-info w-full" (click)="onLoadMore()">Cargar más</button>
            }
        </ul>

    </section>
</main>
} @else {
<div>

</div>
<shared-loader />
}